/* Body Styles */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* Choose your preferred font family */
  color: #dfe1e6; /* Light pastel for text */
  background-color: #242832; /* Dark background */

  /* Media Query for Mobile Screens */
  @media screen and (max-width: 768px) {

  header {
    flex-direction: column; /* Stack elements vertically on mobile */
    align-items: center;
  }

  nav ul {
    flex-direction: row; /* Stack navigation links vertically on mobile */
    align-items: center; /* Center navigation links horizontally on mobile */
    margin-top: 1rem; /* Add space between header and navigation on mobile */
  }

  .profile-image { /* Optional: Adjust image position on mobile if needed */
    margin: 0 auto 1rem; /* Center image horizontally and add space below on mobile */
    align-items: center;
  }

  nav li {
    margin-bottom: 1rem; /* Add space between navigation links */
  }
    
  }
}

/* Section Styles */
.section {
  padding: 2rem; /* Adjust padding as needed */
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

/* Navigation Styles */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

/* Link Styles */
a {
  text-decoration: none;
  color: inherit; /* Inherit text color from body */
}

a:hover {
  color: #94a3b8; /* Light pastel blue for hover */
}

/* Pastel Text Class */
.pastel-text {
  color: #dfe1e6; /* Same light pastel for text as body */
}

/* Project Styles */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sidebyside {
  display: inline-block;
  width: 300px;
  height: 100px;
  margin: 1em;
}

.project {
  width: calc(33% - 1.5rem); /* Adjust project width as needed */
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.1); /* Light border for projects */
  border-radius: 5px; /* Rounded corners for projects */
}

img {
  display: block;  /* Ensures the image behaves like a block element */
  margin: 1rem auto;  /* Add some margin for spacing and center horizontally */
  width: 150px;  /* Adjust width as needed */
  height: 150px; /* Adjust height as needed */
  border-radius: 50%; /* Create a circular image */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a slight shadow for depth */
}
